.nvv{
    width: 70px;
    height: 70px;
    border-radius: 40px;

}
a{
    font-family: Calibri,sans-serif !important;

}

nav{
    background-color: #010032;
}
.ct{
    background-color: #010032;
    height: 770px;
}
.bbb{
    width: 500px !important;
    margin-top: 80px;
    margin-left: 35px;
}
.aaa{
    margin-top: 50px;
    margin-left: 20px;
    width: 500px!important;
}
.bb{
    width: 239px;
    height: 69px;
    left: 0;
    right: 0;
    top: 0;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    margin-left: 20px;
    margin-top: 30px;
}
.xat{
    width: 30px;
    height: 20px;
    margin-left: 5px;
}
.mm{
    margin-left: 20px;
    margin-top: 100px;
}
.abu{
    width: 648px;
    height: 770px;
    margin-top: -726px!important;
    margin-left: 570px;
}
.dnx{
    width: 1050px!important;
    margin-left: 55px;
    margin-top: 110px;
}
.cex{
    width: 1000px!important;
    margin-left: 80px!important;
    margin-top: 150px!important;
}
.ves{
    width: 125px!important;
    height: 125px!important;
    margin-left: 688px;
margin-top: -344px;
    box-shadow: none!important;
}
.seq{
    margin-top: -300px;
}
.sectionca{
    width: 1000px;
    margin-left: 75px!important;
}
.btnka{
    width: 195px;
    height: 50px;
    border-radius: 32px;
    margin-top: -410px;
    margin-left: 800px;
    box-shadow: none!important;
}
  .dev{
      width: 1000px!important;
      height: 700px;
      margin-left: 75px;
      background: #D8D8EB;
      margin-top: -50px;
  }
.rasmj{
    margin-top: 120px;
    margin-left: 375px;
}
.taxt{
    width: 623px;
    height: 132px;
    font-family: 'Epilogue', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    color: #000000;
    margin-top: -560px;
    margin-left: 260px;
}
.ces{
    margin-left: 160px;
    margin-top: 60px;
}
.uktam{
    margin-top: 275px!important;
    margin-left: 420px;
    width: 18px;
    height: 18px;
}
.uktam1{
    margin-top: 275px!important;
    margin-right: 400px;
    width: 18px!important;
    height: 18px!important;
}
.kuktam{
    width: 100%;
}
.carousel-inner{
    width: 800px!important;
}
.abce{
    width: 1000px;
    height: 600px;
    margin-left: 75px;
    margin-top: 135px;
}
.xyz{
    width: 180px;
    height: 14px;
    margin-top: 120px;
    margin-left: 50px;
}
.h11{
    height: 128px;
    font-family: 'Space Grotesk', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #000000;
    margin-top: 140px;
    margin-left: -180px!important;
}
.h12{
    height: 103px;
    font-family: 'Epilogue', serif;
    font-style: normal;
    font-size: 10px;
    line-height: 34px;
    color: #000000;
}
.pam{
    width: 300px;
    margin-left: 670px!important;
    margin-top: -80px;
}
.divka {
    margin-top: 120px;
    margin-left: 15px;
}
.abced {
    width: 1000px;
    height: 700px;
    margin-left: 75px;
    margin-top: 135px;
}
.karoc{
    margin-left: 370px;
}
.bab{
    margin-top: -1200px;
    margin-left: 290px;
}
.koy{
    margin-top: -520px!important;
}
.web{
    margin-left: 490px;
    margin-top: 40px;
}
.h22{
    position: absolute;
    top: 70px;
    left: 230px;
    opacity: 0.8!important;
}
.h23{
    position: absolute;
    top: 100px;
    left: 100px;
    opacity: 0.8!important;
}
.btn-c{
    border: none;
    position: absolute;
    top: 140px;
    left: 70px;
    opacity: 0.8;
    background-color: transparent!important;
    border-bottom: 1px solid #4543E8;
}

.kuktambek{
    width: 600px;
    height: 500px;
}
.aser{
    margin-top: 6550px;
}
.kusk{
margin-top: -240px;
    font-family: 'Epilogue', serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    margin-left: 660px;
    color: white;
}
.kuks{
    margin-left: 520px;
    font-size: 15px;
    margin-top: 30px;
    color: white;
}
.kask{
    color: white;
    font-family: 'Epilogue', serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    margin-top: -240px;
    margin-left: 160px;
}
.kaks{
    color: white;
    font-size: 15px;
    margin-top: 30px;

}